/* Add vertical space to bullet list items */
li + li {
  margin-top: 10px;
}
/* Figure caption */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-wrap: normal;
}

/* Code blocks: code itself */
pre code {
  white-space: pre-wrap !important;
  word-break: break-word;
}
/* code block: do not wrap */
pre.nowrap code {
  white-space: pre !important;
}

/* inline code */
.book .book-body .page-wrapper .page-inner section.normal code,.book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: Consolas, "Source Code Pro", "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;  /* defaults to 0.85em */
}

/* block code */
.book .book-body .page-wrapper .page-inner section.normal pre>code {
    font-size: 1em;  /* defaults to 0.85em */
}

/* Code blocks: container box */
/* Issue: Code blocks seem to always have an empty trailing line  */
/* Cause: bottom margin too wide */
/* Fix: set margin to 0em */
.book .book-body .page-wrapper .page-inner section.normal pre {
  margin: 0em 0em 0.5em 0em;
  padding: 0.5em 1em;
}

/* Issue: Adjacent code blocks are merged as one */
/* Cause: Bottom margin too small, it seems like they are merged */
/* Fix: Add bottom margin. This add add extra space between the code 
        block and the text below. */
div.sourceCode {
  margin-bottom: 0.5em;
}

