/* Add vertical space to bullet list items */
li + li {
  margin-top: 10px;
}
/* Figure caption */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  padding: 0 1em;
  margin: 0em;
}

/* Code blocks: code itself */
pre code {
  white-space: pre-wrap !important;
  word-break: break-word;
  padding: 0 1em;
  margin: 0em;
}
/* Code blocks: container box */
/* Issue: Code blocks seem to always have an empty trailing line  */
/* Cause: bottom margin too wide */
/* Fix: set margin to 0em */
.book .book-body .page-wrapper .page-inner section.normal pre {
  margin: 0em;
  padding: 0.85em 1em;
}

/* Issue: Adjacent code blocks are merged as one */
/* Cause: Bottom margin too small, it seems like they are merged */
/* Fix: Add bottom margin. This add add extra space between the code 
        block and the text below. */
div.sourceCode {
  margin-bottom: 1em;
}
